 <main class="main">
  <div class="inner">
    <div class="nickname-fridge">
    <div class="container">
    <%= @nickname %>のフリッジ
    <div class="container__side container__side--left"></div>
    <div class="container__triangle container__triangle--left"></div>
    <div class="container__triangle container__triangle--right"></div>
    <div class="container__side container__side--right"></div>
    </div>
    </div>
    <div class="card-wrapper">
      <%= render partial: "items/item" %>
    </div>
  </div>
</main>