<% @items.each do |item| %>
<div class="content">
  <div class="image-content">
    <%= link_to image_tag(item.image.variant(resize: '200x200'), class: :card__img ), item_path(item) %>
  </div>  
  <div class="sub-content">
    <span>購入日</span>
    <div id="purchase-date"><%= item.purchase_date %></div>
  </div>
  <div class="sub-content">
    <span>賞味期限</span>
    <div id="expiration-date"><%= item.expiration_date %></div>
  </div>
  <div class="daysleft-content">
      <span>残り<span id='days-left'></span>日</span>
  </div>
  <div class="nickname-content">
  <%= link_to "by #{item.user.nickname}", root_path, class: :card__user %>
  </div>
</div>