<main class="main">
  <div class="inner">
    <div class="search-box">
    <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
    <i class="fas fa-search fa-1x fa-fw" style="color: #808080;"></i><%= form.text_field :keyword, class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    </div>
  <div class="card-wrapper">
    <%= render partial: "item" %>
  </div>
  </div>
</main>