<main class="main">
  <div class="inner">
  <div class="search-box">
    <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
    <i class="fas fa-search fa-1x fa-fw"></i><%= form.text_field :keyword, class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <div class="card__wrapper">
    <%= render partial: "item" %>
  </div>
  </div>
    <p class="tb"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-lang="ja" data-size="medium" data-hashtags="FRIDGE私の冷蔵庫" data-text="FRIDGE~私の冷蔵庫~" data-show-count="false">Tweet</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a></p> 
</main>