@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFF;
}

a.sort_header {
  text-decoration: none;
  color: #000;
}



html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "M PLUS 1p";
  margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #f49c75;
  background-color: #fff;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #f49c75;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
  font-weight: bold;
}
/* 以上がheader-11 */

/* ヘッダー */

main {
    background: #ffffff;
    margin-top: 50px;
    flex: 1;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.nav__toggle {
 border-style: none;
 color: #f49c75;
 background: #fff;
 min-width: 70px;
 padding: 0.5rem 1rem;
 border-radius: 5px;
 text-align: center;
 outline: none;
 font-weight: bold;
}

/* フッター */
.footer {
  width: 100%;
  background-color: #808080;
  padding: 10px 0;
  height: 30px;


}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* ツイッターボタン */
.tb {
  margin-top: 28px;
  text-align: center;
}

/* フォーム周り */
.form__wrapper{
  min-height: 100vh;
  text-align: center;
}

.form__text {
  width: 30%;
}

.field{
  margin: 20px 0;
}

.actions{
  margin-bottom: 30px;
}

.form__btn{
  display: inline-block;
  padding: 0.5em 1.0em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #f49c75;
  border: 1px #f49c75 solid;
  border-radius: 5px;
  transition: 0.2s ease;
  outline: none;
  font-weight: bold;
}

/* メイン */

.greeting {
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.heading {
  font-size: 28px;
  margin-bottom: 28px;
  margin-top: 28px;
  font-weight: bold;
}

.card__wrapper {
  display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.content {
  flex-basis: 25%;
    padding-left: 8px;
    padding-right: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card__user {
  font-size: 12px;
  color: #999;
  text-align: right;
}

.card__img {
  margin: 20px;
}

.sub-content {
  text-align: center;
  font-weight: bold;
  margin-bottom: 7px;
}

.daysleft-content {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  color: #FF5959;
}

.nickname-content {
  text-align: right;
}

/* プロダクト検索フォーム */
.cp_point {
	position: relative;
	margin: 40px 0 30px;
	padding: 25px 20px 15px 40px;
	border: 1px dotted #1b2538;
	background-color: #f8fdff;
	border-radius: 5px;
}

.cp_point li {
	position: relative;
	list-style-type: disc;
}



/* 詳細ページ */
.prototype__wrapper{
  min-height: calc(100vh - 161px);
}
.item_heading{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}

.item_block {
  display: flex;
  justify-content: center;
}

.item_card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width:400px;
  margin-top: 30px;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  justify-content: center;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}

.detail__title{
  font-size: 20px;
  font-weight: bold;
}

.daysleft__title{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: #FF5959;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.item__btn{
  display: block;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  color: #fff;
  background: #f49c75;
  border-radius: 5px;
  margin: 0 3px;
  font-weight: bold;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* 賞味期限一覧ページ */
.cp_table *, .cp_table *:before, .cp_table *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_table {
	width: 100%;
	border-collapse: collapse;
}
.cp_table th {
	width: 13%;
	background: #f4f4f4;
	padding: 10px;
	border: 1px solid #dddddd;
  
}
.cp_table td {
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	border: 1px solid #dddddd;
  font-weight: bold;
}
.cp_table td:first-child {
	text-align: center;
	vertical-align: middle;
}
.cp_table td:last-child {
	text-align: left;
	vertical-align: middle;
  font-weight: normal;
}
@media only screen and (max-width: 480px) {
	.cp_table {
		display: block;
		width: 100%;
	}
	.cp_table thead {
		display: block;
		float: left;
		overflow-x: scroll;
	}
	.cp_table tbody {
		display: block;
		width: auto;
		overflow-x: auto;
		white-space: nowrap;
	}
	.cp_table th {
		display: block;
		width: auto;
		border-width: 1px 0px 0px 1px;
		border-color: #dddddd;
		border-style: solid;
	}
	.cp_table th:last-child {
		border-bottom: 1px solid #dddddd;
	}
	.cp_table tbody tr {
		display: inline-block;
		margin: 0;
	}
	.cp_table td {
		display: block;
		border-width: 1px 1px 0px 1px;
		border-color: #dddddd;
		border-style: solid;
	}
	.cp_table td:last-child {
		border-bottom: 1px solid #dddddd;
	}
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .content {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}

