<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <%= csrf_meta_tag %>
    <title>fridge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all'%>
    
  </head>
  <body>
    <!-- Header Start -->
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button"> 
            <span>メニュー</span>
          </button>
          <ul class="nav__wrapper">
            <% unless user_signed_in? %>
            <li class="nav__item"></i><a href="/users/sign_up">新規登録</a></li>
            <% else %>
            <li class="nav__item"><a href="/">ホーム</a></li>
            <li class="nav__item"><a href="/products/index">賞味期限一覧</a></li>
            <li class="nav__item"><a href="/users/sign_out" data-method="delete">ログアウト</a></li>
            <% end %>
          </ul>
        </nav>
  
        <a href="/" class="brand">FRiDGE</a>
        <% unless user_signed_in? %>
        <a href="/users/sign_in" class="button button--icon" aria-label="Sign in">
          <svg
            version="1.1"
            viewBox="0 0 100 100"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <path
                d="m83.898 77.398c-2.3984-13-13.699-22.5-26.898-22.5h-13.699c-13.5 0-24.898 9.8008-27.102 23.102-1.1016 6.6992 4.1016 12.699 10.801 12.699h46.199c6.8008 0 12-6.1992 10.801-12.898z"
              />
              <path
                d="m36.102 44.199c7.8008 7.8008 20.398 8 28.398 0.39844l0.19922-0.19922c6.8984-6.6016 7.6016-17.301 1.5-24.699-8.3008-10-23.699-9.8008-31.699 0.39844-5.6016 7.1992-5 17.5 1.5 24z"
              />
            </g>
          </svg>
          
          
          <span>ログイン</span>
          
        </a>
        <% else %>
        <a href="/items/new" class="button button--icon" aria-label="Item New">
          <svg
            version="1.1"
            viewBox="0 0 100 100"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <path
                d="m83.898 77.398c-2.3984-13-13.699-22.5-26.898-22.5h-13.699c-13.5 0-24.898 9.8008-27.102 23.102-1.1016 6.6992 4.1016 12.699 10.801 12.699h46.199c6.8008 0 12-6.1992 10.801-12.898z"
              />
              <path
                d="m36.102 44.199c7.8008 7.8008 20.398 8 28.398 0.39844l0.19922-0.19922c6.8984-6.6016 7.6016-17.301 1.5-24.699-8.3008-10-23.699-9.8008-31.699 0.39844-5.6016 7.1992-5 17.5 1.5 24z"
              />
            </g>
          </svg>
          
          
          <span>保存</span>
          
        </a>
        <% end %>
      </div>
    </header>
    <!-- Header End -->

    <%= javascript_pack_tag 'application' %>

     <%= yield %>
     
     
    
  </body>
  <footer class="footer">
    <p class="copyright">Copyrigt © 2021 FRIDGE_APP All rights reserved.</p>
  </footer>
</html>
